/*General*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.banner {
    min-height: 100vh;
    background: rgb(20, 20, 20);
    background: linear-gradient(90deg, rgba(20, 20, 20, 1) 55%, rgba(229, 9, 20, 1) 100%);
    padding: 40px 100px;
    display: flex;
    align-items: center;
}


/*Navigation Bar*/

header {
    position: absolute;
    top: 1px;
    display: flex;
    align-items: center;
}

header .toggle {
    position: relative;
    width: 50px;
    margin-right: 5px;
    margin-left: -50px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    width: 140px;
}

.nav {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    padding-right: 90px;
    background: #120e0f url(family.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}

.nav.active {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.nav li {
    list-style: none;
    margin: 5px 0;
}

.nav li a {
    font-size: 2em;
    color: whitesmoke;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

@media(max-width: 35em) {
    header .toggle {
        position: relative;
        width: 50px;
        margin-left: -100px;
        cursor: pointer;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav li a {
        font-size: 1em;
        color: whitesmoke;
        letter-spacing: 0.5em;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
    }
    .nav {
        display: none;
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        padding-right: 10px;
        padding: min(30vh, 10em) 2em;
        gap: 1em;
        background: #120e0f url(family.png);
        background-position: center;
        background-size: 40%;
        background-repeat: no-repeat;
    }
}


/*Hero Section*/

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0;
}

.text-box {
    flex-basis: 60%;
    position: relative;
    max-width: 700px;
    margin-left: -10px;
}

.text-box .netflix {
    width: 100%;
}

.text-box .info {
    color: grey;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 500;
}

.text-box .text {
    color: whitesmoke;
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: 600;
    max-width: 40ch;
    margin-top: 10px;
}

.text-box .starring {
    color: grey;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
}

.signin {
    color: #fff;
    background-color: #e50914;
    padding: 7px 17px;
    font-weight: 400;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;
}

.image-box {
    position: relative;
    flex-basis: 40%;
    display: flex;
    align-items: center;
}

.image-box img {
    width: 110%;
}

@media(max-width: 903px){
    .content{
        flex-direction: column-reverse;
    }

    .text-box{
        flex-basis: 100%;
        margin-top: 50px;
        margin-left: -60px;
    }

    .image-box{
        flex-basis: 100%;
        margin-left: -60px;
    }
}